.lead__pic {
    width: 100%;
    max-width: 984px;
    max-height: 554.13px;
    margin-bottom: 10.87px;
}

@media all and (min-width : 1024px) {
    .lead__pic {
        margin-bottom: 10.87px;
    }
}

@media all and (min-width : 768px) and (max-width: 1023px) {
    .lead__pic {
        margin-bottom: 16px;
    }
}

@media all and (max-width: 767px) {
    .lead__pic {
        margin-bottom: 8px;
    }
}
