.section-title {
    width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}

@media all and (min-width : 768px) and (max-width : 1023px) {
    .section-title {
        width: 650px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media all and (min-width : 375px) and (max-width : 767px) {
    .section-title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}

@media all and (max-width : 374px) {
    .section-title {
        width: 300px;
        font-size: 32px;
        line-height: 35px;
    }
}