.video__item-container_left {
    background-image: url(../../../images/Video/colors_of_kamchatka.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}