.wrapper-place {
    width: 100%;
    box-sizing: border-box;
}

@media all and (min-width : 768px) and (max-width: 1024px) {
    .wrapper-place {
        padding-left: 30px;
        padding-right: 30px;
    }
}
