.comments__author {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    color: #FFFFFF;
}

@media all and (max-width : 899px) {
    .comments__author {
        text-align: center;
        order: 2;
    }
}
